/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

:root {
  --board-side-length: 480px;
  --board-side-length-mobile: 80vw;
  --tile-side-length: 60px;
  --tile-side-length-mobile: 10vw; 
  --board-label-width: 40px;
  --board-label-width-mobile: 20px;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 80vw;
}

#pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-bottom: 20px;
}


#notification {
  visibility: hidden;
  color: white;
  background: #1ca06d;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: #19865d solid 1px;
}

#refreshCacheButton:hover {
  cursor: pointer;
}


@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: var(--board-side-length);
  height: var(--board-side-length);
  border: 2px #293c4b solid;
}

#board > .tile {
  width: var(--tile-side-length);
  height: var(--tile-side-length);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  #board {
    width: var(--board-side-length-mobile);
    height: var(--board-side-length-mobile);
    border: 1px #293c4b solid;
  }

  #board > .tile {
    width: var(--tile-side-length-mobile);
    height: var(--tile-side-length-mobile);
  }
}

#board > .tile:nth-child(16n+1), #board > .tile:nth-child(16n+3), 
#board > .tile:nth-child(16n+5), #board > .tile:nth-child(16n+7), 
#board > .tile:nth-child(16n+10), #board > .tile:nth-child(16n+12), 
#board > .tile:nth-child(16n+14), #board > .tile:nth-child(16n+16) {
  background: white;
}

#board > .tile:nth-child(16n+2), #board > .tile:nth-child(16n+4), 
#board > .tile:nth-child(16n+6), #board > .tile:nth-child(16n+8), 
#board > .tile:nth-child(16n+9), #board > .tile:nth-child(16n+11), 
#board > .tile:nth-child(16n+13), #board > .tile:nth-child(16n+15) {
  background: grey;
}

.pieceImage {
  width:95%;
  height: auto;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


#rankLabels {
  display: flex;
  flex-direction: row;
  width: var(--board-side-length);
  margin-left: var(--board-label-width);
}

.rankLabel {
  width: var(--tile-side-length);
  height: var(--board-label-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

#boardWithFileLabels {
  display: flex;
  flex-direction: horizontal;
}

#fileLabels {
  height: var(--board-side-length);
}

.fileLabel {
  height: var(--tile-side-length);
  width: var(--board-label-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  #rankLabels {
    width: var(--board-side-length-mobile);
    margin-left: var(--board-label-width-mobile);
  }

  .rankLabel {
    width: var(--tile-side-length-mobile);
    height: var(--board-label-width-mobile);
  }

  #fileLabels {
    height: var(--board-side-length-mobile);
  }

  .fileLabel {
    height: var(--tile-side-length-mobile);
    width: var(--board-label-width-mobile);
  }
}

 /* Ugly CSS incoming. Please change in the future */
#board > .tile:nth-child(16n+1).highlighted, #board > .tile:nth-child(16n+3).highlighted, 
#board > .tile:nth-child(16n+5).highlighted, #board > .tile:nth-child(16n+7).highlighted, 
#board > .tile:nth-child(16n+10).highlighted, #board > .tile:nth-child(16n+12).highlighted, 
#board > .tile:nth-child(16n+14).highlighted, #board > .tile:nth-child(16n+16).highlighted {
  background: #1ca06d;
}

#board > .tile:nth-child(16n+2).highlighted, #board > .tile:nth-child(16n+4).highlighted, 
#board > .tile:nth-child(16n+6).highlighted, #board > .tile:nth-child(16n+8).highlighted, 
#board > .tile:nth-child(16n+9).highlighted, #board > .tile:nth-child(16n+11).highlighted, 
#board > .tile:nth-child(16n+13).highlighted, #board > .tile:nth-child(16n+15).highlighted {
  background: #19865d;
}


#board > .tile:nth-child(16n+1).attackable, #board > .tile:nth-child(16n+3).attackable, 
#board > .tile:nth-child(16n+5).attackable, #board > .tile:nth-child(16n+7).attackable, 
#board > .tile:nth-child(16n+10).attackable, #board > .tile:nth-child(16n+12).attackable, 
#board > .tile:nth-child(16n+14).attackable, #board > .tile:nth-child(16n+16).attackable {
  background: #dd4545;
}

#board > .tile:nth-child(16n+2).attackable, #board > .tile:nth-child(16n+4).attackable, 
#board > .tile:nth-child(16n+6).attackable, #board > .tile:nth-child(16n+8).attackable, 
#board > .tile:nth-child(16n+9).attackable, #board > .tile:nth-child(16n+11).attackable, 
#board > .tile:nth-child(16n+13).attackable, #board > .tile:nth-child(16n+15).attackable {
  background: #a32626;
}

